click==8.1.7
colorama==0.4.6
colorlog==6.8.2
fastapi==0.115.5
fastjsonschema==2.21.1
jsonschema==4.23.0
langchain==0.3.7
langchain-core==0.3.19
langchain-openai==0.2.9
langchain-community==0.3.7
openai==1.54.4
prompt-toolkit==3.0.48
pydantic==2.9.2
python-dotenv==1.0.1
qdrant-client==1.12.1
tiktoken==0.8.0
uvicorn==0.32.1
websocket-client==1.8.0
websockets==13.1
